#Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Lib/
Scripts/
*.cfg

#Django/Python
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
__pycache__/
*.py[cod]
*$py.class
.Python
*.sqlite3

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#Mac
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
